.git/
.github/
**/node_modules/
**/venv/
venv/
node_modules/
scripts/
build/
dist/
coverage/
**/*.pptx
.DS_Store

# Explicitly DO NOT ignore .env.local so Cloud Build has access to the API keys
!.env.local

*.txt
